.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active {
    font-size: 28px;
    font-weight: 700;
}

.link:not(:last-child) {
    margin-right: 30px;
}