.wrapper {
    color: var(--white);
    text-decoration: none;
    transition: 0.6s;
    display: flex;
    position: relative;
    font-size: 18px;

    &:hover {
        transform: translateY(-5px);
    }
}

.icon {
    position: absolute;
    right: -26px;
}